[flake8]
select = C,E,F,W,B,B950
ignore = E203, E501, W503
max-line-length = 89
exclude = src/*/test*,src/*/migrations/*,src/utils,src/conf/settings,src/phantomjs
max-complexity = 10
format = html
htmldir = flake8
show_source = True
