language: python
# Python releases to test
python:
  - 2.5
  - 2.6
  - 2.7
  - 3.2
# Django releases
env:
  - DJANGO_VERSION=Django==1.3.7
  - DJANGO_VERSION=Django==1.4.5
  # 1.5 release candidate
  - DJANGO_VERSION=git+git://github.com/django/django.git@18d920ea4839fb54f9d2a5dcb555b6a5666ee469
# Exclude some Django releases depending on Python version
matrix:
  exclude:
    - python: 3.2
      env: DJANGO_VERSION=Django==1.3.7
    - python: 3.2
      env: DJANGO_VERSION=Django==1.4.5
    - python: 2.5
      env: DJANGO_VERSION=git+git://github.com/django/django.git@18d920ea4839fb54f9d2a5dcb555b6a5666ee469
install:
  - if [[ $TRAVIS_PYTHON_VERSION < '2.7' ]]; then pip install -q --use-mirrors argparse; fi
  - pip install -q --use-mirrors $DJANGO_VERSION
  - python setup.py install -q
script: make test
notifications:
  irc:
    skip_join: true
    on_success: change
    on_failure: change
    channels:
    - "irc.freenode.org##nkuttler"
  email:
    on_success: never
    on_failure: change
