language: python
sudo: False
python:
  - 2.7
  - 3.5
  - 3.6
env:
  - DJANGO_VERSION="Django<2.0"
  - DJANGO_VERSION="Django<2.1"
  - DJANGO_VERSION="Django<2.2"
install:
  - pip install -q "${DJANGO_VERSION}"
  - python setup.py install -q
script: make test
notifications:
  email:
    on_success: never
    on_failure: change
matrix:
  fast_finish: true
  exclude:
    - python: 2.7
      env: DJANGO_VERSION="Django<2.1"
    - python: 2.7
      env: DJANGO_VERSION="Django<2.2"
